<!DOCTYPE html>
<html lang=ko>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title> GIEDUTECH 쇼핑몰 </title>
    <style>
        .menu {
            text-align: center;
        }

        .cell {
            display: inline-block;
            border: 1px solid black;
            text-align: center;
            width: 80vw;
            padding: 10px;
            margin: 5px;
        }

    </style>
</head>
<body>
    <div class="menu">
        <a href="/shopping1">
            <div class="cell">
                쇼핑몰1
            </div>
        </a>

        <a href="">
            <div class="cell">
                &nbsp;
            </div>
        </a>

        <a href="">
            <div class="cell">
                &nbsp;
            </div>
        </a>
    </div>
</body>
</html>
  