    <link rel="stylesheet" href="/shopping1/stylesheets/card.css">
        <div style="position: relative; ">
            <div class="section opened" id="first">
                <span class="title">1. 카드를 선택하세요잉</span><br>
                <div class="contents">
                    <div class="cardType">
                        BC카드
                    </div>
                    <div class="cardType">
                        신한카드
                    </div>
                    <div class="cardType">
                        하나카드
                    </div>
                    <div class="cardType">
                        삼성카드
                    </div>
                    <div class="cardType">
                        현대카드
                    </div>
                    <div class="cardType">
                        국민카드
                    </div>
                    <div class="cardType">
                        우리카드
                    </div>
                </div>
            </div>
            <div class="section" id="cardNumber" id="second">
                <span class="title">2. 카드번호를 입력하세요잉</span><br>
                <div class="contents">
                    <div class="dataInput" style="width: 87vw;">
                        카드번호<br>
                        <div>
                            <span data-hide="0" data-current="0" data-max="4">____</span> - 
                            <span data-hide="1" data-current="0" data-max="4">____</span> - 
                            <span data-hide="1" data-current="0" data-max="4">____</span> - 
                            <span data-hide="0" data-current="0" data-max="4">____</span>
                        </div>
                    </div>
                    <div class="dataInput" style="width: 40vw;">
                        유효기간(MM)<br>
                        <div>
                            <span data-hide="1" data-current="0" data-max="2">__</span>
                        </div>
                    </div>
                    <div class="dataInput" style="width: 40vw;">
                        유효기간(YY)<br>
                        <div>
                            <span data-hide="1" data-current="0" data-max="2">__</span>
                        </div>
                    </div>
                    <div class="dataInput" style="width: 87vw;">
                        CVC<br>
                        <div>
                            <span data-hide="1" data-current="0" data-max="3">___</span>
                        </div>
                    </div>
                    <div class="dataInput" style="width: 87vw;">
                        비밀번호(앞 2자리)<br>
                        <div>
                            <span data-hide="1" data-current="0" data-max="2">__</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href='#'>
                <div id="pay">
                    결제하기 
                </div>
            </a>
        </div>
        <div style="height: 40vh;"></div>
    <script src="/shopping1/javascripts/card.js"></script>
</html>